<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>主页</title>

    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">

</head>

<body id="page-top">
 <style>.chinese{ font-family:STXihei;}</style>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- 侧边栏 -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- 图标-->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">DSZ ksh</div>
            </a>

            <!-- 分割线 -->
            <hr class="sidebar-divider my-0">

            <!-- 主页 -->
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span class="chinese">主页</span></a>
            </li>

            <!-- 分割线 -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading chinese">
                舆情监视
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
             <li class="nav-item">
                <a class="nav-link" href="/hots">
                    <i class="fas fa-fw fa-bullseye"></i>
                    <span class="chinese">舆情热点</span></a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="/events">
                    <i class="fas fa-fw fa-line-chart"></i>
                    <span class="chinese">舆情事件</span></a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading chinese">
                数据统计
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span class="chinese">舆情一览</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item chinese" href="/yqAllData">全部舆情</a>
                        <a class="collapse-item chinese" href="/yqPosiData">正面舆情</a>
                        <a class="collapse-item chinese" href="/yqNegaData">负面舆情</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/website">
                    <i class="fas fa-fw fa-table"></i>
                    <span class="chinese">舆情获取站点</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
  <!-- ======= Top Bar ======= -->
  <section id="topbar" >
    <div class="clearfix container-fluid">
      <div class="contact-info">
        <i class="fa fa-envelope" aria-hidden="true" ></i><a> 978870846@qq.com</a>
        <i class="fa fa-phone" aria-hidden="true"></i> 18487121369
      </div>
    </div>
  </section>



                </br>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800 chinese">舆情信息可视化</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-2 col-md-6 mb-5">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-2 chinese">
                                                舆情总数</div>
                                            <div class="h3 mb-0 font-weight-bold text-gray-800 chinese">{{yqCount}}条</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-2 col-md-6 mb-5">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="chinese text-lg font-weight-bold text-success text-uppercase mb-1">
                                                正面舆情</div>
                                            <div class="h3 mb-0 font-weight-bold text-gray-800 chinese">{{positiveCount}}条</div>
                                        </div>
                                        <div class="col-auto">
<!--                                            <i class="fa fa-calendar-check-o fa-2x text-success" aria-hidden="true"></i>-->
                                            <i class="fa fa-thumbs-o-up  fa-3x text-success" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                               <!-- Pending Requests Card Example -->
                        <div class="col-xl-2 col-md-6 mb-5">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="chinese text-lg font-weight-bold text-danger text-uppercase mb-1">
                                                负面舆情</div>
                                            <div class="chinese h3 mb-0 font-weight-bold text-gray-800">{{negativeCount}}条</div>
                                        </div>
                                        <div class="col-auto">
<!--                                            <i class="fa fa-calendar-times-o fa-2x text-danger" aria-hidden="true"></i>-->
                                            <i class="fa fa-thumbs-o-down fa-3x text-danger" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-2 col-md-6 mb-5">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="chinese text-lg font-weight-bold text-warning text-uppercase mb-1">舆情热点
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="chinese h3 mb-0 mr-3 font-weight-bold text-gray-800">{{hotCount}}个</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-bullseye fa-3x text-warning" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-2 col-md-6 mb-5">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="chinese text-lg font-weight-bold text-warning text-uppercase mb-1">舆情事件
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="chinese h3 mb-0 mr-3 font-weight-bold text-gray-800">{{eventKeywordCount}}个</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-line-chart fa-2x text-warning" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-2 col-md-6 mb-5">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="chinese text-lg font-weight-bold text-info text-uppercase mb-1">爬取时长</div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="chinese h3 mb-0 mr-3 font-weight-bold text-gray-800">{{timeCount}}天</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa  fa-clock-o fa-3x text-info" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->

                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary chinese">每日爬取舆情信息</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body" >
                                    <div class="chart-area">
                                          <body style="height: 100%; margin: 0">
                                          <div id="container" style="height: 100%"></div>
                                          <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
                                           <script type="text/javascript">
                                               var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};

var option;

option = {

    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data: ['正面舆情', '负面舆情']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: {{sjlistCut|tojson}}
    },
    yAxis: {
        type: 'value'
    },
    series: [

        {
            name: '正面舆情',
            color : '#1cc88a' ,
            type: 'line',
            data: {{positiveCountList|tojson}}
        },
        {
            name: '负面舆情',
            color : '#e74a3b' ,
            type: 'line',
            data: {{negativeCountList}}
        }

    ]
};

if (option && typeof option === 'object') {
    myChart.setOption(option);
}

        </script>

   </body>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary chinese">总计舆情情感倾向饼状图</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <div id="container2" style="height: 100%"></div>
<!--                                        <img src="static/img/word.jpg" class="img-fluid  px-sm-5 " alt="">-->
                                          <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
<script type="text/javascript">
var dom = document.getElementById("container2");
var myChart = echarts.init(dom);
var app = {};

var option;



option = {

    tooltip: {
        trigger: 'item'
    },
    legend: {
        orient: 'vertical',
        left: 'left',
    },
        toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    series: [
        {
            name: '舆情情感倾向',
            type: 'pie',
            radius: '75%',
            color : [ '#1cc88a', '#e74a3b' ],
            data: [
                {value: {{positiveCount}}, name: '正面'},
                {value: {{negativeCount}}, name: '负面'},
            ],
            emphasis: {
                itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};

if (option && typeof option === 'object') {
    myChart.setOption(option);
}

        </script>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 舆情信息可视化杜绍泽 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/sb-admin-2.min.js"></script>

</body>

</html>